.flower, .flower__petals, .flower__face, .flower__stem::before, .flower__leaves, .flower__bed, .flower__bed::before, .flower__bed::after, .flower::before, .flower.is-pollinating::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/flower.png?1447376477') left top/cover no-repeat;
  content: '';
}

.flower {
  background-image: none;
}
.flower__petals {
  background-image: url('../images/flower__petals.png?1447375921');
}
.flower--tulip .flower__petals {
  background-image: url('../images/flower--tulip__petals.png?1447375973');
}
.flower__face {
  background-image: url('../images/flower__face.png?1447375846');
}
.flower--tulip .flower__face {
  background-image: none;
}
.flower__stem::before {
  background-image: url('../images/flower__stem.png?1447375940');
  z-index: -4;
}
.flower__leaves {
  background-image: url('../images/flower__leaves.png?1447375871');
  z-index: -5;
}
.flower__bed {
  background-image: none;
}
.flower__bed::before, .flower__bed::after {
  top: auto;
  bottom: 0;
  height: 30%;
  background-position: left bottom;
}
.flower__bed::before {
  z-index: -10;
  background-image: url('../images/flower__bed-back.png?1447375755');
}
.flower__bed::after {
  background-image: url('../images/flower__bed.png?1447375787');
}
.flower::before {
  background-image: url('../images/flower-is-hover.png?1447376022');
  background-position: -283px 0;
  -moz-transition: background-position 1s;
  -o-transition: background-position 1s;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}
.flower:hover::before, .flower:focus::before {
  background-position: 0 0;
  -moz-transition: background-position 1s;
  -o-transition: background-position 1s;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}
.flower.is-pollinating::before {
  background-image: url('../images/flower-is-pollinating.png?1447375649');
  z-index: 1;
}
@media all and (min-width: 60em) {
  .flower--responsive {
    background-image: url('../images/flower-is-desktop.png?1447376064');
  }
  .flower--responsive .flower__stem::before {
    background-image: none;
  }
  .flower--responsive .flower__leaves {
    background-image: none;
  }
  .flower--responsive__bed::before, .flower--responsive__bed::after {
    display: none;
  }
}
@media print {
  .flower {
    background-image: url('../images/flower-is-print.png?1447376519');
  }
  .flower .flower__stem::before {
    background-image: none;
  }
  .flower * {
    background-image: none;
  }
}
.flower--print {
  background-image: url('../images/flower-is-print.png?1447376519');
}
.flower--print .flower__stem::before {
  background-image: none;
}
.flower--print * {
  background-image: none;
}
.is-night .flower {
  background-image: url('../images/flower-is-night.png?1447376446');
}
.is-night .flower .flower__stem::before {
  background-image: none;
}
.is-night .flower * {
  background-image: none;
}

/*# sourceMappingURL=styles.css.map */
