// NOTE: Since this is an example style guide, we have way more documentation for this
// component than usual.


// Flower
//
// The Flower component is a responsive flower, with the following states:
//
// - mobile (the default)
// - desktop (screen sizes larger than 60em)
// - hover/focus
// - is-pollinating (state triggered by JavaScript)
//
// To view all of these state variations, the user will need to change the
// viewport width and hover over the component.
//
// Styleguide 1.0

// Flower (deconstructed)
//
// The flower component is constructed of several CSS elements. The component can also be applied to a variety of different collections of HTML; the markup below is just one example.
//
// Markup:
// <div class="flower__bed">
//   <div class="flower">
//     <div class="flower__petals">
//       <div class="flower__face"></div>
//     </div>
//     <div class="flower__stem">
//       <div class="flower__leaves"></div>
//     </div>
//   </div>
// </div>
//
// Styleguide 2.0


// Shared styling among the component parts.
%flower-base {
  position: absolute;
  width: 588px;
  height: 561px;
  background-repeat: no-repeat;
  content: '';
}

// Flower
//
// Markup:
// <div class="flower {$modifiers}">
//   <div class="flower__petals">
//     <div class="flower__face"></div>
//   </div>
//   <div class="flower__stem">
//     <div class="flower__leaves"></div>
//   </div>
// </div>
//
// .flower--tulip - The tulip variant.
// .flower--responsive - The responsive variant (includes mobile/desktop styles.)
// .flower--print - The print variant (also used for @media print styles.)
// .is-pollinating - A JavaScript interaction class.
// .flower--tulip.is-pollinating - A JavaScript interaction class.
//
// Styleguide 1.1

// Flower (base element)
//
// The base class name for the component is `.flower`. To see the CSS that is applied to it, use your browser's DOM inspector.
//
// Markup:
// <div class="flower"></div>
//
// Styleguide 2.1

.flower,
%flower {
  @extend %flower-base;
  position: relative;

// Flower petals
//
// The `.flower__petals` element.
//
// Markup:
// <div class="{$modifiers}" style="position: relative; height: 561px">
//   <div class="flower__petals"></div>
// </div>
//
// .flower--tulip - The tulip variation causes the `.flower__petals` to display differently.
//
// Styleguide 2.2

  &__petals {
    @extend %flower-base;
    background-image: image-url('flower__petals.png');
    background-position: 201px top;

    .flower--tulip & {
      background-image: image-url('flower--tulip__petals.png');
      background-position: 273px 53px;
    }
  }

// Flower face
//
// The `.flower__face` element.
//
// Markup:
// <div style="position: relative; height: 561px">
//   <div class="flower__face"></div>
// </div>
//
// Styleguide 2.3

  &__face {
    @extend %flower-base;
    background-image: image-url('flower__face.png');
    background-position: 282px 80px;

    .flower--tulip & {
      background-image: none;
    }
  }

// Flower stem
//
// The `.flower__stem` element.
//
// Markup:
// <div style="position: relative; height: 561px">
//   <div class="flower__stem"></div>
// </div>
//
// Styleguide 2.4

  &__stem::before {
    @extend %flower-base;
    background-image: image-url('flower__stem.png');
    background-position: 231px 167px;
    z-index: -4;
  }

// Flower leaves
//
// The `.flower__leaves` element.
//
// Markup:
// <div style="position: relative; height: 561px">
//   <div class="flower__leaves"></div>
// </div>
//
// Styleguide 2.5

  &__leaves {
    @extend %flower-base;
    background-image: image-url('flower__leaves.png');
    background-position: 169px 258px;
    z-index: -5;
  }

// Flower (with bed)
//
// Markup:
// <div class="flower__bed {$modifiers}__bed">
//   <div class="flower {$modifiers}">
//     <div class="flower__petals">
//       <div class="flower__face"></div>
//     </div>
//     <div class="flower__stem">
//       <div class="flower__leaves"></div>
//     </div>
//   </div>
// </div>
//
// .flower--tulip - The tulip variant.
// .flower--responsive - The responsive variant (includes mobile/desktop styles.)
//
// Styleguide 1.2

// Flower bed
//
// The `.flower__bed` element.
//
// Markup:
// <div style="position: relative; height: 561px">
//   <div class="flower__bed"></div>
// </div>
//
// Styleguide 2.6

  &__bed {
    @extend %flower-base;
    position: relative;

    .flower {
      position: absolute;
    }

    &::before {
      @extend %flower-base;
      bottom: 58px;
      height: 130px;
      z-index: -10;
      background-image: image-url('flower__bed-back.png');
      background-position: 65px top;
    }
    &::after {
      @extend %flower-base;
      bottom: 58px;
      height: 130px;
      background-image: image-url('flower__bed.png');
      background-position: 30px top;
    }
  }

  // Hover state.
  &::before {
    @extend %flower-base;
    background-image: none;
    background-image: image-url('flower-hover.png');
    background-position: -105px 0;
    @include transition(background-position 1s);
  }
  &:hover::before,
  &:focus::before {
    background-position: 105px 0;
    @include transition(background-position 1s);
  }

  &.is-pollinating::before {
    @extend %flower-base;
    background-image: image-url('flower-is-pollinating.png');
    background-position: 230px 43px;
    z-index: 1;
  }

  // Media query state for desktop sized screens.
  &--responsive {
    @media all and (min-width: 60em) {
      // Show the desktop and vase image.
      background-image: image-url('flower-is-desktop.png');
      background-position: left 168px;

      // The stem and leaves images are included with the vase and desktop.
      .flower__stem::before {
        background-image: none;
      }
      .flower__leaves {
        background-image: none;
      }
      // The flower bed is mobile only.
      &__bed::before,
      &__bed::after {
        display: none;
      }
    }
  }

  // Media query state for printing.
  @media print {
    background-image: image-url('flower-is-print.png');

    // The stem, leaves and petals images are included with component.
    .flower__stem::before {
      background-image: none;
    }
    * {
      background-image: none;
    }
  }
  &--print {
    background-image: image-url('flower-is-print.png');

    // The stem, leaves and petals images are included with component.
    .flower__stem::before {
      background-image: none;
    }
    * {
      background-image: none;
    }
  }
}
