<div class="flower {{modifier_class}}">
  <div class="flower__petals">
    <div class="flower__face"></div>
  </div>
  <div class="flower__stem">
    <div class="flower__leaves"></div>
  </div>
</div>
